<%= provide(:title, "Edit Profile") %>
<% provide(:button_text, "Save") %>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Edit Profile</h2>
            </div>
            <div class="card-body">
                <%= render "form" %>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
